body {
   height:100%;
}
#theatres {
   min-height: 470px;
   position: relative;
}
#movies {
    min-height: 470px;
    position: relative;
}
#shows {
     min-height: 470px;
     position: relative;
}
#username {
    margin: 15px 20px 0 0;
    display: block;
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #9d9d9d;
}
#nav_right {
	float: right;
}
footer {
	margin-top: 30px;
	background: #101010;
	height: 70px;
	line-height: 70px;
}
footer p {
	line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
#banner {
    margin-bottom: 0;
}
#section {
    min-height: 270px;
    margin: 20px 3px 20px 3px;
    padding: 0; 
    background: #f2f2f2;
    text-overflow: ellipsis;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.information {
    padding-left: 7px;
}
.cast {
    display: block;
    width: 214px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#theatre-section {
    margin: 20px 3px 20px 3px;
    min-height: 115px;
    background: #f2f2f2;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input.error,
select.error,
textarea.error {
    border: 1px solid #d9534f;
}
label.error {
    background: #d9534f;
    color: white;
    height:17px;
    border:1px solid #d9534f;
    border-radius: 2px;
    padding:1px 5px 1px 5px;
    font-size:small;
}
label {
    display: inline;
}
#shows,
#movies,
#theatres {
    margin: 20px 10px 0 10px;
}
.editing-movie,
.movie-delete,
.editing-theatre,
.theatre-delete,
.editing-show,
.show-delete{
    cursor: pointer;
}
.modal-title {
    font-size: 30px;
}
#message {
    float: right;
    padding: 9px 15px;
    margin-bottom: 0;
}
