body {
    background: #f2f2f2;
}
#show-information {
    float: right;
}
#movie {
    font-size: 35px;
    color: #49ba8e;
    margin-right: 10px;
}
#theatre {
    color: white;
    font-size: 15px;
}
footer {
    margin-top: 30px;
    background: #101010;
    height: 70px;
    line-height: 70px;
}
footer p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
#page {
    min-height: 506px;
}
#slip {
    background: white;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: inset 0 0 0 1px #dfe3e7;
}
#screen {
    font-size: 30px;
    color: gray;
}
h3 {
    color: #c02c39;
}
#info {
    padding-top: 0;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0;
}
#amount {
    box-shadow: inset 0 0 0 1px #dfe3e7;
    background: #FFFCDC;
    height: 60px;
}
#total {
    text-align: center;
    padding-top: 20px;
}