body {
	background: #f2f2f2;
}
footer {
	margin-top: 30px;
	background: #101010;
	height: 70px;
	line-height: 70px;
}
footer p {
	line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
#nav-right {
	float: right;
	display: inline;
}
.carousel .item {
    height: 500px;
}
.item {
    height: 100%;
}
#movie {
	margin-bottom: 50px;
}
#banner {
	margin-bottom: 0;
}
h3 {
	margin:0 0 5px 0;
}
#section {
	min-height: 275px;
	margin: 0 3px 20px 3px;
	padding: 0; 
	background: white;
	text-overflow: ellipsis;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
	0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 260px;
}
#information {
	padding-left: 7px;
}
#cast {
	display: block;
	width: 249.5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#username {
    margin: 15px 20px 0 0;
	display: block;
	width: 80px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #9d9d9d;
}
#user-movie-table {
    width: 100% !important;
}
#user-movie-table tr {
    float:left;
}
#user-movie-table thead {
    display: none;
}
#user-movie-table td {
    border-top: 0 !important;
}