body {
    background: #f2f2f2;
}
footer {
    margin-top: 30px;
    background: #101010;
    height: 70px;
    line-height: 70px;
}
footer p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
#nav-right {
    float: right;
    display: inline;
}
#username {
    margin: 15px 20px 0 0;
    display: block;
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #9d9d9d;
}
#image-box {
    position: relative;
}
#movie-header {
    text-align: center;
    font-size: 30px;
}
#left {
    display: inline-block;
}
#right {
    float: right;
}
#information {
    opacity: 0.5;
    position: absolute;
    font-size: 20px;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
#movie-section {
    background: white;
    padding: 0;
    font-size: 15px;
    margin-bottom: 20px;
}
#panel, #flip {
    padding: 5px;
    text-align: center;
    border: solid 1px #c3c3c3;
}
#panel {
    padding: 20px;
    display: none;
}
#theatre-section {
    background: white;
    border: solid 1px #c3c3c3;
    padding: 20px;
}
.show-button {
    margin: 10px 20px 10px 20px;
}
.date-box {
    background: #49ba8e;
    border-color: #49ba8e;
    border-radius: 2px;
    color: white;
    padding: 10px 5px 10px 9px;
}
a:hover,
a:visited,
a:link,
a:active
{
    text-decoration: none;
}