body {
    background: #f2f2f2;
}
#need-help {
    float: right;
    color: white;
    padding-top: 15px; 
}
#phone-icon {
    color: green;
}
#page {
    min-height: 506px;
}
footer {
    margin-top: 30px;
    background: #101010;
    height: 70px;
    line-height: 70px;
}
footer p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
#left-div {
    background-color: white;
    box-shadow: inset 0 0 0 1px #dfe3e7;
    padding: 0;
    margin-bottom: 5px;
}
#right-div {
    background-color: white;
    box-shadow: inset 0 0 0 1px #dfe3e7;
    margin-bottom: 15px;
}
#card-header {
    background: #49ba8e;
    padding :10px 15px 10px 15px;
    color: white;
}
#email-phone-header {
    background: #49ba8e;
    padding :10px 15px 10px 15px;
    color: white;
}
#email-phone-info {
    padding :10px 15px 10px 15px;
}
.field-header {
    padding-left: 15px;
}
#card-form {
    margin-top: 20px;
    padding: 20px 0 7px 20px;
    background: linear-gradient(to bottom right, #d9d9d9, #a6a6a6);
    border-radius: 8px;
    color: #595959;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#make-payment {
    margin-left: 15px;
    margin-bottom: 20px;
}
#order-header {
    size: 20px;
    margin: 20px;
}
#theatre {
    color: #666;
}
#sub-total {
    float: right;
    font-size: 20px;
}
#internet-fees {
    float: right;
}
#amount {
    float: right;
    font-size: 20px;
}
#error-div {
    margin-left: 15px;
    color: #a94442;
    font-family: Montserrat;
}
#timeout {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}