body {
    background: #f2f2f2;
}
.container {
    min-width: 1200px;
    background: white;
    text-align: center;
    padding: 20px;
}
.row {
    margin-bottom: 7px;
}
#page {
    overflow: auto;
}
.seat {
    border:  1px solid #49ba8e;
    border-radius: 5px;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 30px;
    padding: 1px;
    text-align: center;
    color: grey;
}
.rows {
    margin-right: 30px;
}
.right {
    text-align: left;
    margin-left: 10px;
}
footer {
    margin-top: 30px;
    background: #101010;
    height: 70px;
    line-height: 70px;
}
footer p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
#bottom {
    margin-top: 40px;
}
#movie {
    display: block;
    margin-top: 5px;
    font-size: 25px;
    color: #49ba8e;
}
#theatre {
    display: block;
    color: white;
    margin-bottom: 5px;
}
.selected{
    background-color: #49ba8e;
    color: white;
}
#total {
    background: white;
    display: block;
    width: auto;
    float: right;
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
}
#page-header {
    margin-bottom: 0;
}
#show-information {
    display: inline-block;
}
#proceed-btn {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}
.filled {
    background-color: #f2f2f2;
    border:  1px solid #f2f2f2;
}
.pointer {
    cursor: pointer;
}
